body {
  background-color: #DBF7FF;
  color: #2B2D42;
  font-size: 16px
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

a {
  text-decoration: none;
  font-weight: 900;
}

a:link { color:8850D1; } /* unvisited */
a:visited { color:#360568; } /* visited */
a:hover { color:#6200B3; } /* mouse over */
a:active { text-decoration: underline;} /*selected*/

figcaption {
  font-size: .8em;
}

h1 {
  font-size: 3em;
  font-weight: 900;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
  line-height:1.2;
}

.author {
  font-size: 1em;
  font-style: italic;
}

.story-text {
  line-height: 1.3;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}


.container {
  margin: 0 auto;
  width: 50%;
}
